## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Install numpy using conda install numpy or pip install numpy. 
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Soyo,AO,-6.1349,12.3689,78.49,87,100,10.04,overcast clouds
1,1,Kaitangata,NZ,-46.2817,169.8464,51.22,57,100,6.60,overcast clouds
2,2,Meadow Lake,US,34.8014,-106.5436,47.68,40,32,1.92,scattered clouds
3,3,Busselton,AU,-33.6500,115.3333,80.15,40,100,5.46,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,57.78,44,100,4.88,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Soyo,AO,-6.1349,12.3689,78.49,87,100,10.04,overcast clouds
3,3,Busselton,AU,-33.6500,115.3333,80.15,40,100,5.46,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,78.69,77,17,17.83,few clouds
13,13,Rikitea,PF,-23.1203,-134.9692,76.33,74,100,13.98,overcast clouds
24,24,Ponto Novo,BR,-10.8628,-40.1336,72.91,74,82,2.55,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                235
City                   235
Country                234
Lat                    235
Lng                    235
Max Temp               235
Humidity               235
Cloudiness             235
Wind Speed             235
Current Description    235
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Soyo,AO,78.49,overcast clouds,-6.1349,12.3689,
3,Busselton,AU,80.15,overcast clouds,-33.6500,115.3333,
7,Atuona,PF,78.69,few clouds,-9.8000,-139.0333,
13,Rikitea,PF,76.33,overcast clouds,-23.1203,-134.9692,
24,Ponto Novo,BR,72.91,broken clouds,-10.8628,-40.1336,
26,Maragogi,BR,77.94,few clouds,-9.0122,-35.2225,
33,Nuqui,CO,75.38,overcast clouds,5.7125,-77.2708,
36,Kapaa,US,82.38,clear sky,22.0752,-159.3190,
39,Saint-Philippe,RE,74.79,scattered clouds,-21.3585,55.7679,
40,Buala,SB,84.51,light rain,-8.1450,159.5921,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Soyo,AO,78.49,overcast clouds,-6.1349,12.3689,Hotel Mpampa
3,Busselton,AU,80.15,overcast clouds,-33.6500,115.3333,Observatory Guest House
7,Atuona,PF,78.69,few clouds,-9.8000,-139.0333,Villa Enata
13,Rikitea,PF,76.33,overcast clouds,-23.1203,-134.9692,People ThankYou
24,Ponto Novo,BR,72.91,broken clouds,-10.8628,-40.1336,Pousada Mucambo

In [10]:
hotel_df.count()

City                   235
Country                234
Max Temp               235
Current Description    235
Lat                    235
Lng                    235
Hotel Name             235
dtype: int64

In [11]:
# replace field that's entirely space (or empty) with NaN
Nan_hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
Nan_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Soyo,AO,78.49,overcast clouds,-6.1349,12.3689,Hotel Mpampa
3,Busselton,AU,80.15,overcast clouds,-33.6500,115.3333,Observatory Guest House
7,Atuona,PF,78.69,few clouds,-9.8000,-139.0333,Villa Enata
13,Rikitea,PF,76.33,overcast clouds,-23.1203,-134.9692,People ThankYou
24,Ponto Novo,BR,72.91,broken clouds,-10.8628,-40.1336,Pousada Mucambo

In [12]:
Nan_hotel_df.count()

City                   235
Country                234
Max Temp               235
Current Description    235
Lat                    235
Lng                    235
Hotel Name             219
dtype: int64

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = Nan_hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Soyo,AO,78.49,overcast clouds,-6.1349,12.3689,Hotel Mpampa
3,Busselton,AU,80.15,overcast clouds,-33.6500,115.3333,Observatory Guest House
7,Atuona,PF,78.69,few clouds,-9.8000,-139.0333,Villa Enata
13,Rikitea,PF,76.33,overcast clouds,-23.1203,-134.9692,People ThankYou
24,Ponto Novo,BR,72.91,broken clouds,-10.8628,-40.1336,Pousada Mucambo

In [14]:
clean_hotel_df.count()

City                   218
Country                218
Max Temp               218
Current Description    218
Lat                    218
Lng                    218
Hotel Name             218
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dd><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))